  /* New styles */

  /* global styles */

  * {
    scroll-behavior: smooth !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }

  body {
    background-color: #f8f8f8;
  }

  .heading-1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
  }

  .heading-2 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 600;
  }

  .subheading-1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .keyword-text {
    color: rgb(51, 51, 51, 0.5);
    font-size: 1.1rem;

  }

  .nav-right {
    margin: 0;
    display: flex;
    align-items: flex-end;
    
  }

  .nav-right-styles {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 4rem;
  }

  .nav-right-styles a {
    border-bottom: 0.2rem solid #000;
    padding-bottom: 0.1rem;
  }

  .nav-right-styles a:hover {
    border-bottom: none;
    background: linear-gradient(to top, transparent 0 10%, #FFE68A 10% 70%, transparent 70% 100%);
  }


  /* home page styles */

  #case-study-container-home {
    margin: 0 20rem 0 20rem;
  }

  #main-nav-container {
    margin: 0 20rem 0 20rem;
    padding-top: 2em;
    display: flex;
    justify-content: space-between;
    align-content: baseline;
  }

  #home-intro-container {
    height: 26rem;
    box-shadow: 0 0.6rem 2rem rgb(0, 0, 0, 0.1);
    background-color: #FFF;
    margin-bottom: 4em;
  }
  
  #home-bio-container {
    margin: 2rem 28rem 0 20rem;
    display: flex;
    align-items: center;
    gap: 6em;
  }

.home-img-container img {
  border-radius: 50%;
  width: 14rem;
}



.case_study_img_container_home img {
  width: 38rem;
  height: 100%;
  border-radius: 2rem 0 0 2rem;
}

.case_study_container {
  box-shadow: 0.6rem 0.6rem 2rem rgb(0, 0, 0, 0.2);
  /* height: 28rem; */
  border-radius: 2rem;
  margin-bottom: 4rem;
  display: flex;
}

.case-study-text {
  padding: 2rem;
}

.case-study-text p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.home-case-study-button {
  color: #fff;
  background-color: #252526;
  border-radius: 3rem;
  padding: 1rem 2rem 1rem 2rem;
  
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  background-color: #252526;
  padding: 4rem 8rem 4rem 8rem;
  display: flex;
  justify-content: space-between;
}

.footer-right {
  justify-content: flex-end;
}

.quote {
  justify-self:flex-start;
  color: #E0DFD7;
}

.copy-text {
  color: #E0DFD7;
  margin-left: 0.5rem;
}

.social-foot {
  display: grid;
  grid-template-columns: repeat(3, 2.5rem);
}

#linkedIn {
  grid-column: 2;
  justify-self: center;
  width: 1.5vw;
  height: auto;
  fill: #E0DFD7;
  padding: 0.3em;
  transition: 0.4s;

}
#linkedIn:hover {
  margin-top: -0.3em;
  fill: #A6A5A2;
  transition: 0.4s;
}
#dribble {
  grid-column: 3;
  justify-self: center;
  width: 1.5vw;
  height: auto;
  fill: #E0DFD7;
  padding: 0.3em;
  transition: 0.4s;

}
#dribble:hover {
  margin-top: -0.3em;
  fill: #A6A5A2;
  transition: 0.4s;
}
#instagram {
  grid-column: 4;
  justify-self: center;
  width: 1.5vw;
  height: auto;
  fill: #E0DFD7;
  padding: 0.3em;
  transition: 0.4s;

}
#instagram:hover {
  margin-top: -0.3em;
  fill: #A6A5A2;
  transition: 0.4s;
}







/* old styles */

/* Global styles */





/* landing page */
/* header/bio styles */



/* case-study number 1 styles */
.casestudy-head {
  width: 100%
  height: auto;
  display: grid;
  grid-template-columns: 15em 1fr 15em;
  grid-template-rows: 10em 5em 20em;
}
.logo {
  padding-top: 1em;
 width: 15em;
 height: auto;
 grid-column: 2;
 grid-row: 1;
 justify-self: center;
}
.logo svg:hover {
  fill: #A6A5A2;
}
.logo:hover {
  width: 14em;
}
.casestudy-title {
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
}
.casestudy-title-photo {
  width: 35em;
  height: auto;
  grid-column: 2;
  grid-row: 3;
  justify-self: center;
}
.uwhiskers_mockup_photo {
  width: 35em;
  height: auto;
  border-radius: 1em;
  box-shadow: 0.4em 0.4em 0.6em 0.2em rgba(37, 37, 38, 0.12);
}
.casestudy-background {
  background-color: #EAEAEA;
  border-radius: 2em 2em 0 0;
}
.main-content {
  display: grid;
  grid-template-columns: 2em 1.25fr 1fr 1.25fr 2em;
  grid-template-rows: 1.5em;
  grid-auto-rows: minmax(min-content, max-content);
  grid-row-gap: 5em;
}
.main-content p {
  padding: 0 0 0 0.7em;
  font-size: 0.9em;
}
.main-content img{
  margin-left: 0.7em;
  width: 27.9em;
  height: auto;
  border-radius: 0.7em;
}
.intro-info {
  grid-column: 3;
  grid-row: 2;
  display: grid;
  grid-auto-rows: minmax(min-conten, max-content);
  grid-row-gap: 1.7em;
  font-size: 0.7em;
}
.context {
  grid-column: 3;
  grid-row: 3;
  line-height: 1.4em;
}
.problem {
  grid-column: 3;
  grid-row: 4;
  line-height: 1.4em;

}
.vision-statement {
  grid-column: 3;
  grid-row: 5;
  line-height: 1.4em;
}
.research {
  grid-column: 3;
  grid-row: 6;
  line-height: 1.4em;
}
.experience-map {
  grid-column: 3;
  grid-row: 7;
  line-height: 1.4em;
}
.designs  {
  grid-column: 3;
  grid-row: 8;
  line-height: 1.4em;
}
.prototyping {
  grid-column: 3;
  grid-row: 9;
  line-height: 1.4em;
}
.high-fidelity-mockup {
  grid-column: 3;
  grid-row: 10;
  line-height: 1.4em;
}
.takeaways {
  grid-column: 3;
  grid-row: 11;
  line-height: 1.4em;
}
.next-buttons {
  grid-column: 3;
  grid-row: 12;
  justify-self: center;
  margin-bottom: 3em;
}
.previous-casestudy {
  margin: 0 8em 0 -8em;
  padding: 0.7em;
  border-radius: 0.6em;
  border: none;
  background-color: #252526;
  color: #F7F6F2;
  box-shadow: 0.3em 0.3em 0.6em 0.2em rgba(37, 37, 38, 0.12);
}
.previous-casestudy:hover {
  background-color: #A6A5A2;
}
.next-casestudy {
  margin: 0 -8em 0 8em;
  padding: 0.7em;
  border-radius: 0.6em;
  border: none;
  background-color: #252526;
  color: #F7F6F2;
  box-shadow: 0.3em 0.3em 0.6em 0.2em rgba(37, 37, 38, 0.12);
}
.next-casestudy:hover {
  background-color: #A6A5A2;
}
.home-middle {
  padding: 0.7em;
  border-radius: 0.6em;
  border: none;
  background-color: #252526;
  color: #F7F6F2;
  box-shadow: 0.3em 0.3em 0.6em 0.2em rgba(37, 37, 38, 0.12);
}
.home-middle:hover {
  background-color: #A6A5A2;

}
.sidebar {
  position: sticky;
  top: 8em;
  z-index: 5;
  margin: 37em 0 0 4em;
  white-space:nowrap;
}
.side-line {
  border-left: 0.3em solid black;
  height: 12em;
  position: absolute;
  margin-left: -0.7em;
}
.sidebar span {
  white-space: nowrap;
}
.side-link:hover {
  font-size: 1.3em;
  color: #A6A5A2;
}
.ecosystem-link {
  padding: 0.7em;
  border-radius: 0.6em;
  border: none;
  background-color: #5ABAF2;
  color: #F7F6F2;
  box-shadow: 0.3em 0.3em 0.6em 0.2em rgba(37, 37, 38, 0.12);
}
.ecosystem-link:hover {
  background-color: #A3DDFF;
}

/* casestudy two styles */

.soup_surreal_mockup_photo {
  width: 32em;
  height: auto;
  border-radius: 1em;
  box-shadow: 0.4em 0.4em 0.6em 0.2em rgba(37, 37, 38, 0.12);

}

.site {
  grid-column: 3;
  grid-row: 11;
  line-height: 1.4em;
}

.takeaways-soupsurreal {
  grid-column: 3;
  grid-row: 12;
  line-height: 1.4em;
}

.next-buttons-soupsurreal {
  grid-column: 3;
  grid-row: 13;
  justify-self: center;
  margin-bottom: 3em;
}
.website-link {
  padding: 0.7em;
  border-radius: 0.6em;
  border: none;
  background-color: #5ABAF2;
  color: #F7F6F2;
  box-shadow: 0.3em 0.3em 0.6em 0.2em rgba(37, 37, 38, 0.12);
}
.website-link:hover {
    background-color: #A3DDFF;
}
.side-line-soup {
  border-left: 0.3em solid black;
  height: 10.5em;
  position: absolute;
  margin-left: -0.7em;
}

/* case study 3 styles */
.pro365_mockup_photo {
  height: 27em;
  width: auto;
  border-radius: 0.6em;
  box-shadow: 0.4em 0.4em 0.6em 0.2em rgba(37, 37, 38, 0.12);
}
.starting-off {
  grid-column: 3;
  grid-row: 6;
  line-height: 1.4em;

}
.learning-new-concepts {
  grid-column: 3;
  grid-row: 7;
  line-height: 1.4em;
}
.learning-new-concepts h1 {
  line-height: 1em;
}
.motion-design {
  grid-column: 3;
  grid-row: 8;
  line-height: 1.4em;
}
.learning-ui {
  grid-column: 3;
  grid-row: 9;
  line-height: 1.4em;
}
.bad-times {
  grid-column: 3;
  grid-row: 10;
  line-height: 1.4em;
}
.good-times {
  grid-column: 3;
  grid-row: 11;
  line-height: 1.4em;
}
.the-last-100 {
  grid-column: 3;
  grid-row: 12;
  line-height: 1.4em;
}
.takeaways-pro365 {
  grid-column: 3;
  grid-row: 13;
  line-height: 1.4em;
}
.next-buttons-pro365 {
  grid-column: 3;
  grid-row: 14;
  justify-self: center;
  margin-bottom: 3em;
}
.pro365_mockup_photo {
  width: 32em;
  height: auto;
  border-radius: 1em;
  box-shadow: 0.4em 0.4em 0.6em 0.2em rgba(37, 37, 38, 0.12);
}
.side-line-pro365 {
  border-left: 0.3em solid black;
  height: 14em;
  position: absolute;
  margin-left: -0.7em;
}
.pro365-designs {
  width: 140%;
  height: auto;
  margin-left: -24%;

}
.pro365-designs img {
  width:100%;
  height: auto;

}
.motion-design-images {
  margin-left: -15%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 3em;
  grid-column-gap: 4em;
}
.motion-design-images img {
  width: 150%;
  height: auto;
  box-shadow: 0.1em 0.1em 0.5em 0.1em rgb(0, 0, 0, 0.2);
}
.motion-designs1 {
  grid-column: 1;
  grid-row: 1;
}
.motion-designs2 {
  grid-column: 2;
  grid-row: 1;
}
.motion-designs3 {
  grid-column: 3;
  grid-row: 1;
}
.motion-designs4 {
  grid-column: 4;
  grid-row: 1;
}
.motion-designs5 {
  grid-column: 1;
  grid-row: 2;
}
.motion-designs6 {
  grid-column: 2;
  grid-row: 2;
}
.motion-designs7 {
  grid-column: 3;
  grid-row: 2;
}
.motion-designs8 {
  grid-column: 4;
  grid-row: 2;
}

/* media queries */


/* @media screen and (min-width: 320px){
  body {
    font-size: 0.45rem;
  } */
/* @media screen and (min-width: 480px) {
  body {
    font-size: 0.6rem;
  } */

/* @media screen and (min-width: 929px) {
  body {
    font-size: 0.9rem;
  }

} */
/* @media screen and (min-width: 1512px) {
  body {
    font-size: 20px;
  }  
}
@media screen and (min-width: 1728px) {
  *{
    font-size: 16px;
  }

 
  
} */


